<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meitao.dao.SpencialChannelNameDao">

	<resultMap id="basic_result_map" type="com.meitao.model.SpencialChannelName">
		<id column="id" property="id" javaType="String" />
		<result column="name" property="name" javaType="String" />
		<result column="state" property="state" javaType="String" />

	</resultMap>
 
	
	
	<select id="getallgood" resultMap="basic_result_map">
		select * from `spencial_channels_name`
		where `spencial_channels_name`.`state` ='1'
	</select>

	<select id="getbyid" resultMap="basic_result_map">
		select * from `spencial_channels_name`
		where `spencial_channels_name`.`id` =#{id}
	</select>
</mapper>
